body
{
    background-image: url('https://live.staticflickr.com/8477/8219640469_962fd47149_b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* https://www.google.com/logos/fnbx/minesweeper/cta.png */